.quantity-btn {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.quantity-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.quantity-input {
  max-width: 100px;
  border: 1px solid gray;
  padding: 0.1rem;
  overflow-y: auto;
}

.quantity-input:focus {
  outline: none;
}


