.nav-container {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  position: fixed;
  left: 1px;
  right: 1px;
  top: 0px;
  padding: 0.7em;
  display: flex;
  justify-content: space-between;
}

.logo-text {
  font-weight: bold;
  color: rgb(54, 54, 54);
}

.nav-items-list {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  max-width: 50%;
}

.nav-item:hover,
.nav-item:active {
  color: rgb(31, 104, 230);
  font-size: 1.1em;
}
.nav-item {
  color: rgba(34, 34, 34, 0.694);
}
.active-link {
  border-bottom: 2px solid gray;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  color: black;
  font-weight: bold;
}

.close-menu-btn,
.menu-btn {
  display: none;
}

/* RESPONSIVENESS ON SMALL SCREENS */

@media only screen and (max-width: 600px) {
  .logo-text {
    flex: 0;
    width: min-content;
    white-space: nowrap;
  }
  .nav-items-list {
    display: none;
  }
  .show-nav-items-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    height: 80vh;
    width: 50vw;
    padding: 1rem;
    background: #4c4c4ce7;
    justify-content: flex-start;
    overflow-y: auto;
  }
  .nav-item {
    margin-bottom: 1rem;
    width: min-content;
    color: white;
  }

  .close-menu-btn {
    position: absolute;
    font-size: 1.1rem;
    font-weight: bolder;
    z-index: 1;
    right: 2px;
    top: 0;
  }

  .menu-btn {
    display: block;
  }

  .show {
    display: block;
  }
  .hide {
    display: none;
  }
}
