.loading-animation-container {
  top: 4rem;
  bottom: 0rem;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 2;
  background: rgba(1, 6, 62, 0.649);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
