.dialogue {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  overflow-y: auto;
  text-align: center;
  padding: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.775);
  overflow-y: auto;
}

.location {
  border: 1px solid rgb(10, 97, 190);
  outline: none;
}

.contact-details {
  outline: none;
  border: 1px solid rgb(10, 97, 190);
}
